%h1
  Hello World 123
= link_to "PRIVACY POLICY", privacy_policy_path
.card{:style => "width: 18rem;"}
  %img.card-img-top{:alt => "...", :src => "..."}/
  .card-body
    %h5.card-title Card title
    %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
    %a.btn.btn-primary{:href => "#"} Go somewhere
